# git-ls-files --others --ignored
# Lines that start with '#' are comments.

# Backup and data files
eg/eg.*
*~
*.bak
*.off
*.x
x.*
r
x
x?
r?

# patch results
*.rej

# Build products
build/
bin/
srv_gen/
cyberglove_remapper/build/
cyberglove_remapper/bin/
cyberglove_remapper/srv_gen/
cyberglove_remapper/src/cyberglove_remapper/
aass_cyberglove/build/
aass_cyberglove/bin/
aass_cyberglove/srv_gen/
wintracker/build/
wintracker/bin/
wintracker/lib/
wintracker/srv_gen/
wintracker/src/wintracker/
*.a
*.dll
*.lib
*.exe
*.o
*.md5sum

# Qt files
*.pro.user

# DevStudio files
*.bsc
*.ncb
*.pdb
*.suo
*.user
*.ilk

# CVS files
CVS/*
*/CVS/*
*/*/CVS/*
*/*/*/CVS/*
*.cvsignore

# Other files
working/
