<launch>

  <!-- start gazebo paused with an empty plane -->
  <param name="/use_sim_time" value="true" />

  <group>
    <node name="gazebo" pkg="gazebo" type="gazebo" args="-u $(find teleop_launch)/gazebo/empty.world" respawn="false" output="screen">
      <remap from="joint_states" to="gazebo/joint_states"/>
    </node>
  </group>

</launch>
