<launch>

   <!-- This is a modified version of Shadow's gazebo_hand_motor.launch to accomodate a different empty world which starts Gazebo paused -->

  <!-- start gazebo with an empty plane -->
  <include file="$(find teleop_launch)/launch/empty_world.launch"/>

  <!-- spawn the hand model -->
  <group>
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find teleop_launch)/gazebo/shadowhand_motor_base.urdf.xacro'" />
  </group>

  <node name="spawn_hand" pkg="gazebo" type="spawn_model" args="-urdf -param robot_description -z 0.15 -R 1.57079633 -model shadow_model" respawn="false" output="screen" />

  <!-- Controllers for the hand -->
  <rosparam file="$(find sr_hand)/model/hand_urdf/hand_controller_gazebo.yaml" command="load"/>

 <!-- Cartesian pose controller for the teleoperation -->
  <rosparam file="$(find teleop_launch)/gazebo/wrist_controller.yaml" command="load"/>

  <group>
    <node name="spawn_gazebo_controllers"
	  pkg="pr2_controller_manager" type="spawner" respawn="false" output="screen"
	  args=" wrist_cartesian_pose_controller" />
  </group>

  <!-- 
  <group>
    <node name="spawn_gazebo_controllers"
	  pkg="pr2_controller_manager" type="spawner" respawn="false" output="screen"
	  args="sh_ffj0_mixed_position_velocity_controller sh_ffj3_mixed_position_velocity_controller sh_ffj4_mixed_position_velocity_controller sh_mfj0_mixed_position_velocity_controller sh_mfj3_mixed_position_velocity_controller sh_mfj4_mixed_position_velocity_controller sh_rfj0_mixed_position_velocity_controller sh_rfj3_mixed_position_velocity_controller sh_rfj4_mixed_position_velocity_controller sh_lfj0_mixed_position_velocity_controller sh_lfj3_mixed_position_velocity_controller sh_lfj4_mixed_position_velocity_controller sh_lfj5_mixed_position_velocity_controller sh_thj1_mixed_position_velocity_controller sh_thj2_mixed_position_velocity_controller sh_thj3_mixed_position_velocity_controller sh_thj4_mixed_position_velocity_controller sh_thj5_mixed_position_velocity_controller sh_wrj1_mixed_position_velocity_controller sh_wrj2_mixed_position_velocity_controller " />
  </group>
-->

</launch>
