<launch>
  <!-- shadowhand to cyberglove remapper -->
  <node pkg="cyberglove_remapper" name="aass_cyberglove_remapper" type="aass_cyberglove_remapper" output="screen">
    <param name="cyberglove_prefix" type="string" value="/aass_cyberglove/" />
    <param name="remapper_prefix" type="string" value="/aass_cyberglove_remapper/" />
    <param name="sendupdate_prefix" type="string" value="/srh/" />
    <param name="mapping_abg_path" type="string" value="$(find cyberglove_remapper)/param/abg.txt" />
    <param name="mapping_gains_path" type="string" value="$(find cyberglove_remapper)/param/gains.txt" />
    <param name="projection_espace_dir" type="string" value="$(find cyberglove_remapper)/param/" />
  </node>
</launch>

