<launch>

  <!-- Set the robot descriptions-->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find sr_description)/robots/arm_and_hand_motor_ellipsoid.urdf.xacro'" />
  <param name="hand_description" command="$(find xacro)/xacro.py '$(find sr_description)/robots/shadowhand_motor_ellipsoid.urdf.xacro'" />
  <param name="arm_description" command="$(find xacro)/xacro.py '$(find sr_description)/robots/sr_arm_motor.urdf.xacro'" />

  <!-- start gazebo with an empty plane -->
  <include file="$(find sr_hand)/launch/gazebo/loaders/empty_world.launch"/>

  <!-- spawn the arm and hand model -->
  <node name="spawn_hand" pkg="gazebo" type="spawn_model" args="-urdf -param robot_description -z 0.01 -model shadow_model" respawn="false" output="screen" />


  <!-- Starts Shadow's interface -->

  <!--  SHADOWARM    -->

  <node pkg="sr_hand" name="shadowarm" type="shadowarm_virtual" >
    <remap from="robot_description" to="arm_description"/>
    <param name="shadowhand_prefix" type="string" value="sr_arm/" />
    <param name="gazebo_joint_states_prefix" type="string" value="gazebo/" />
    <param name="publish_frequency_diagnostics" type="double" value="1.0" />
    <param name="publish_frequency" type="double" value="20.0" />
  </node> 


  <!--  SHADOWHAND -->

  <node pkg="sr_hand" name="shadowhand"	type="shadowhand_virtual" >
    <remap from="robot_description" to="hand_description"/>
    <param name="gazebo_joint_states_prefix" type="string" value="gazebo/" />
    <param name="shadowhand_prefix" type="string" value="srh/" />
    <param name="publish_frequency_diagnostics" type="double" value="1.0" />
    <param name="publish_frequency" type="double" value="20.0" />
  </node>



  <node pkg="robot_state_publisher" type="state_publisher"
        name="robot_state_publisher_full_pos">
    <remap from="joint_states" to="gazebo/joint_states" />
    <param name="publish_frequency" type="double" value="20.0" />
  </node>


  <!-- Joint Controllers for the arm -->
  <rosparam file="$(find sr_teleop)/robot/hand_controller_gazebo_fast.yaml" command="load"/>
  <rosparam file="$(find sr_teleop)/robot/arm_controller_gazebo_fast.yaml" command="load"/>

  <!-- Cartesian pose controller for the arm -->
  <rosparam file="$(find sr_teleop)/robot/cart_controller.yaml" command="load"/>

  <group >
    <node name="spawn_gazebo_controllers" pkg="pr2_controller_manager" type="spawner" respawn="false" output="screen"
	  args="  sa_ss_position_controller sa_es_position_controller sa_er_position_controller sh_ffj0_mixed_position_velocity_controller sh_ffj3_mixed_position_velocity_controller sh_ffj4_mixed_position_velocity_controller sh_mfj0_mixed_position_velocity_controller sh_mfj3_mixed_position_velocity_controller sh_mfj4_mixed_position_velocity_controller sh_rfj0_mixed_position_velocity_controller sh_rfj3_mixed_position_velocity_controller sh_rfj4_mixed_position_velocity_controller sh_lfj0_mixed_position_velocity_controller sh_lfj3_mixed_position_velocity_controller sh_lfj4_mixed_position_velocity_controller sh_lfj5_mixed_position_velocity_controller sh_thj1_mixed_position_velocity_controller sh_thj2_mixed_position_velocity_controller sh_thj3_mixed_position_velocity_controller sh_thj4_mixed_position_velocity_controller sh_thj5_mixed_position_velocity_controller sh_wrj1_mixed_position_velocity_controller sh_wrj2_mixed_position_velocity_controller sa_sr_position_controller" />
    <node name="spawn_gazebo_cartesian_pose_controller" pkg="pr2_controller_manager" type="spawner" args="--stopped cartesian_pose_controller" />
  </group>

  <!--  Launch the cyberglove -->
  <include file="$(find aass_cyberglove)/launch/aass_cyberglove.launch" />

  <!-- Launch the wintracker -->
  <include file="$(find wintracker)/launch/wintracker.launch" /> 

  <!--Launch the node for teleoperating the arm-->
  <node pkg="sr_teleop" name="sr_arm_teleop" type="sr_arm_teleop" output="screen" ns="sr_arm_teleop">
    <rosparam file="$(find sr_teleop)/robot/config.yaml" command="load"/>
    <remap from="pose" to="/wintracker/pose"/>
    <remap from="get_pose" to="/wintracker/get_pose"/>
    <remap from="command" to="/cartesian_pose_controller/command"/>
    <remap from="switch_controller" to="/pr2_controller_manager/switch_controller"/>
  </node>

  <!-- spawn the desk model -->
  <param name="desk_description" textfile="$(find sr_teleop)/robot/desk.urdf" />
  <node name="spawn_desk" pkg="gazebo" type="spawn_model" args="-urdf -param desk_description -x 0.8 -y -0.1 -z 0.001 -model desk" respawn="false" output="screen" />
  <node pkg="tf" type="static_transform_publisher" name="desk_pos" args="0.8 -0.1 0.001 0 0 0 fixed desk_plate 100" /> 


 <node pkg="tf" type="static_transform_publisher" name="fixed_frame_pos_pub_arm" args="0 0 0 0 0 0 fixed /desk_support 100" />
  
</launch>

